<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>reach me @ email :
        </p>
        <a class="email-a" href="mailto:inguvb1@gmail.com">
            <p class="email">inguvb1@gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/bharathki08" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/bharathinguva/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>