<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! hi! my
            name is</p>
        <div class="name">
            <p class="p-name">Bharath Kumar<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">i'm a full-stack developer.</p>
            <p class="p-second">i'm currently located in Columbus, OH. you can
                find my <a href="../../assets/Bharath Kumar_NodeJS_Resume.docx">resume here</a>.</p>
            <p class="p-third">i go by <a href="https://www.linkedin.com/in/bharathinguva/" rel="nofollow">Bharath Kumar</a> on the
                linkedin.</p>
        </div>
    </div>
</div>